@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --rich-black: #0B2027;
    --cornsilk: #F6F1D1;
    --ash-gray: #CFD7C7;
    --verdigirls: #70A9A1;
    --cerulean: #40798C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--rich-black);
    color: var(--cornsilk);
    min-width: 360px;
}

nav {
    background-color: rgba(112, 169, 161, 0.126);
}

#about {
    background: linear-gradient(to bottom right, var(--cerulean), var(--rich-black));
}

.gradient-bordered-btn {
    border-color: var(--verdigirls);
    border-width: 2px;
    border-radius: 8px;
    box-sizing: border-box;
}