@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --rich-black: #0B2027;
    --cornsilk: #F6F1D1;
    --ash-gray: #CFD7C7;
    --verdigirls: #70A9A1;
    --cerulean: #40798C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--rich-black);
    color: var(--cornsilk);
    min-width: 360px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-width: 380px;
}

nav {
    background-color: rgba(112, 169, 161, 0.126);
}

.gradient-bordered-btn {
    border-color: var(--verdigirls);
    border-width: 2px;
    border-radius: 8px;
    box-sizing: border-box;
}

input, textarea {
    background-color: #40798d4d;
}

/* Hover Effects */

.hvr-radial-in {
    /* display: inline-block; */
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    background: linear-gradient(to bottom right, var(--cerulean), var(--verdigirls));
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-radial-in:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #1a363e;
    border-radius: 100%;
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-radial-in:hover, .hvr-radial-in:focus, .hvr-radial-in:active {
    color: white;
  }
  .hvr-radial-in:hover:before, .hvr-radial-in:focus:before, .hvr-radial-in:active:before {
    -webkit-transform: scale(0);
    transform: scale(0);
  }